body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:black;
  }
  
  .c {
    background:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
  }
  .c h1{
    text-align: center;
  }
  .c h1 ,.c h2 , .c a{
    color: white;
  }
  
 